---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import imgTrees from '@img/trees.jpg';
import imgEmergency from '@img/emergency.jpg';
import imgNetwork from '@img/network.jpg';
import imgGetStarted from '@img/get-started.jpg';
import Card from '@components/Card.astro';

const frontmatter = {
  title: '',
  description: 'A community of GMRS users in the Ebbetts Pass region of Calaveras.',
};
---

<Layout frontmatter={frontmatter}>
  <div class="flex flex-col items-center justify-center">
    <Image
      src={imgTrees}
      alt="Stanislaus River"
      class="mx-auto not-prose mb-6 drop-shadow-lg rounded-lg"
    />
    <div class="py-6">
      <h1 class="text-center drop-shadow-md">Ebbetts' Radio Safety Net</h1>
      <p class="shadow-md text-lg p-6 bg-slate-200 rounded-lg">
        When extreme events - wildfires, storms, earthquakes, and more - strike our communities,
        staying connected can save lives. Ebbetts' Radio Safety Net (ERSN) is Highway-4's
        volunteer-powered emergency communications network, using GMRS radios to keep our community
        linked when traditional systems fail.
      </p>
    </div>

    <Card
      title="In an emergency?"
      image={imgEmergency}
      imageAlt="Photo by camilo jimenez on Unsplash"
    >
      Call 911 for all urgent concerns. If phone networks are down, or for non-life threatening
      issues, <a href="/emergency">
        <span class="absolute inset-x-0 -top-px bottom-0"></span>learn how to get help
      </a>.
    </Card>

    <Card
      reverse
      title="Join the net"
      image={imgNetwork}
      imageAlt="Photo by Alina Grubnyak on Unsplash"
    >
      The net meets weekly at 7pm on Wednesdays. Test your equipment and connect with other members.<br
      />
      <a href="/nets">
        <span class="absolute inset-x-0 -top-px bottom-0"></span>Learn more
      </a>
    </Card>

    <Card
      title="Get started with GMRS"
      image={imgGetStarted}
      imageAlt="Photo by David Iskander on Unsplash"
    >
      Just hearing about GMRS? <a href="/gmrs">
        <span class="absolute inset-x-0 -top-px bottom-0"></span>
        Learn how to get a license and what gear to buy here
      </a>.
    </Card>
  </div>
</Layout>
